            <h3>Make Your Words Count</h3>

            <p>This site will test the power of the Pen rather than the Sword.</p>

            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/C9iWgMm.png" alt="...">
                  <div class="caption">
                    <h3>User Created Stories</h3>
                    <p>List of stories created by users </p>
                    <div><a class='btn btn-danger btn-lg btn-block' href="#/list/">Explore</a></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/hLed3Y4.jpg?1" alt="Begin a story with your first words...">
                  <div class="caption">
                    <h3>Embark On A Story</h3>
                    <p>Have an idea of a great start to a story?</p>
                    <div><a class='btn btn-danger btn-lg btn-block' href="#/new">Create</a></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="http://i.imgur.com/KUoaalc.jpg?1" alt="...">
                  <div class="caption">
                    <h3>Explore Our Community</h3>
                    <p>Stories, Polls, Competitions etc...</p>
                    <div><a class='btn btn-danger btn-lg btn-block' href='/Stories/Index'>Discover</a></div>
                  </div>
                </div>
              </div>
            </div>